@import "tailwindcss";

@layer utilities{
    .nav::after{
        @apply content-[''] bg-amber-400 h-0.75 w-[0%] left-0 bottom-0 rounded-xl absolute duration-300
    }
    .nav:hover::after{
        @apply w-full
    }
}

@layer base{
    h1{
        @apply text-[32px]
    }
}