@import "tailwindcss";


@layer utilities{
    .nav1::after{
        @apply content-[''] bg-amber-400 h-0.75 w-[0%] left-0 bottom-0 rounded-xl absolute duration-300
    }
    .nav1:hover::after{
        @apply w-full
    }
    .nav2::after{
        @apply content-[''] bg-[#ffffff] h-0.75 w-[0%] left-0 bottom-0 rounded-xl absolute duration-300
    }
    .nav2:hover::after{
        @apply w-full
    }
    .btn::before{
        @apply content-[''] absolute top-0 bottom-0 left-0 right-0 h-full w-[0%] -z-20 transition-[0.5s] bg-linear-to-r from-[#900]  to-[#f00] delay-150
    }
    .btn:hover::before{
        @apply w-full 
    }
    .btn:hover{
        @apply text-[#ffffff] scale-110
    }
    
}

@layer base{
    h1{
        @apply text-[32px]
    }
    h2{
        @apply text-[24px]
    }
    .heading{
        @apply mb-5 text-slate-800 font-medium text-[22px]
    }
}

@theme{
    --animate-pizzaslide: pizzaslide 7s linear infinite;

    @keyframes pizzaslide {
        from {
            transform: translateX(-100vw);
        }
        to{
            transform: translateX(100vw);
        }
    }
}