@import "tailwindcss";

@layer utilities{
    .nav::after{
        @apply content-[''] bg-amber-400 h-[3px] w-[0%] left-0 -bottom-0 rounded-xl absolute duration-300
    }
    .nav:hover::after{
        @apply w-[100%]
    }
}

@layer base{
    h1{
        @apply text-[32px]
    }
}